data/bing_key.txt
data/build/
data/image/
data/video
data/test_image/
data/test_video/
nn/model_logs
nn/logs
nn/fine_tune_nn_logs
nn/fine_tune_nn_model_logs
nn/temp
*.npy
*.pyc
*.mp4
*.jpg
*.txt
*.fc7
nn/kaffe/
old
